accelerate==1.14.0
datasets==5.0.0
diffusers==0.33.1
einops==0.8.2
filelock==3.29.1
huggingface_hub==0.36.2
imWatermark==0.0.2
lpips==0.1.4
matplotlib==3.10.8
numpy==2.4.6
opencv-python==4.13.0.92
pandas==3.0.3
pillow==12.1.1
pyarrow==24.0.0
pycocotools==2.0.11
pytorch-fid==0.3.0
regex==2026.5.9
requests==2.34.2
safetensors==0.8.0
scikit-image==0.26.0
scipy==1.17.1
sentencepiece==0.2.1
tokenizers==0.19.1
torch==2.9.1
torchvision==0.24.1
tqdm==4.68.0
transformers==4.44.2
